<div class="d-flex justify-content-center">
	<div class="col-8">
		@if (model(); as modelRef) {
			<div>
				<h2 data-cy="modelDetailsHeading"><span>Model</span></h2>

				<hr />

				<jhi-alert-error></jhi-alert-error>

				<jhi-alert></jhi-alert>

				<dl class="row-md jh-entity-details">
					<dt><span>ID</span></dt>
					<dd>
						<span>{{ modelRef.id }}</span>
					</dd>
					<dt><span>Model Name</span></dt>
					<dd>
						<span>{{ modelRef.modelName }}</span>
					</dd>
					<dt><span>Organization</span></dt>
					<dd>
						<span>{{ modelRef.organization }}</span>
					</dd>
					<dt><span>Provider</span></dt>
					<dd>
						<span>{{ modelRef.provider }}</span>
					</dd>
					<dt><span>Api Key</span></dt>
					<dd>
						<span>{{ modelRef.apiKey }}</span>
					</dd>
					<dt><span>Base Url</span></dt>
					<dd>
						<span>{{ modelRef.baseUrl }}</span>
					</dd>
					<dt><span>License</span></dt>
					<dd>
						<span>{{ modelRef.license }}</span>
					</dd>
					<dt><span>Active</span></dt>
					<dd>
						<span>{{ modelRef.active }}</span>
					</dd>
				</dl>

				<button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
					<fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
				</button>

				<button type="button" [routerLink]="['/model', modelRef.id, 'edit']" class="btn btn-primary">
					<fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
				</button>
			</div>
		}
	</div>
</div>
